:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background: url('./images/pattern-background-mobile.svg') ;
  background-color: var(--Pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* utilitis */
p {
  color: var(--Desaturated-blue);
  font-weight: 500;
  font-size: small;
}

/* card */

.card {
  background-color: #fff;
  width: 20rem;
  height: 33rem;
  border-radius: 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
}
/* illustation hero */
.happy-music-img {
  background: url('./images/illustration-hero.svg') center center/cover;
  width: 100%;
  height: 30%;
  border-radius: 2rem 2rem 0 0;
  margin-bottom: 1.5rem;
}
/* order summary */

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20%;
  /* margin-bottom: 2rem; */
}

.order-summary h2 {
  font-weight: 900;
  display: block;
  margin: 0.5rem;
  color: var(--Dark-blue);
}

.order-summary p {
  line-height: 1.7;
  font-size: 16px;
  padding: 0 1.4rem;
  /* padding-bottom: 1rem; */
}

/* Plan */

.plan {
  width: 80%;
  height: 15%;
  background-color: var(--Very-pale-blue);
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
}

#music-icon {
  margin: 0.8rem;
}

.plan h4 {
  color: var(--Dark-blue);
  font-weight: 900;
  font-size: small;
}
.plan-text {
  margin-right: 3rem;
}

.plan a {
  font-size: smaller;
  margin-right: 0.6rem;
}

.plan a:active {
  color: rgb(107, 62, 212);
  text-decoration: none;
}

/* buttons */

.btn {
  height: 9%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  border-radius: 1rem;
  margin: 0.6rem auto;
  text-decoration: none;
}

.btn.primary-btn {
  background-color: var(--Bright-blue);
  color: #fff;
}
.btn.primary-btn:active {
  background-color: rgb(107, 62, 212);
}
.btn.secandary-btn {
  color: var(--Desaturated-blue);
}
.btn.secandary-btn:active {
  color: var(--Dark-blue);
}
/* front end mentor defult styles */

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 480px) {
  body {
  background: url('./images/pattern-background-desktop.svg');
  background-color: var(--Pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
  }

}
